.element {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  /*"у карточек должна быть фиксированная ширина, сейчас если удалить все карточки кроме одной, то последнюю растягивает на всю ширину"
    В задании или нет или не видел указаний на то, как выглядит макет с одной карточкой, но с фиксированной шириной куда проще
    если б знал что так можно, то минимум часов 5 или 10 бы сэкономил, не извращался бы с автозаполнением и растягиванием.
    "У попапов должны быть анимации открытия и закрытия. У вас в задании к работе этому целый раздел посвящен" - 
    сломал и не заметил пока другое чинил. закоментил display_none где необходимо, восстановил работу. */
  width: 282px;
  margin: 0 auto; /*Иначе (если не добавить) 2 карточки некрасиво встают, хоть этот случай и не описан в задании, но привязка к левой стороне глаз не радует*/
}
