.profile__btn-add {
  min-width: 150px;
  min-height: 50px;
  justify-self: flex-end;
  margin-right: 0;
  margin-left: auto;
  background-image: url(../../../images/Btn_Plus2.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity 1s;
}

.profile__btn-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__btn-add {
    margin: 36px 19px 0;
    width: 282px;
  }
}
