.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  margin: 0 10px 0 30px;
  column-gap: 25px;
  row-gap: 16px;
}

@media screen and (max-width: 800px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    column-gap: 10px;
    row-gap: 14px;
    margin: 0 0 0 28px;
    text-align: center;
  }
}
